.div_1
{
    background-color:lightseagreen;
    height: 200px;
    width: 200px;
}
.div_2
{
    background-color: lightblue;
    height: 200px;
    width: 200px;
}
.div_3
{
    background-color: lightsalmon;
    height: 200px;
    width: 200px;
}
.div_4
{
    background-color: darkmagenta;
    height: 200px;
    width: 200px;   
}
.div_5
{
    background-color: grey;
    height: 200px; 
    width: 200px;  
}
.div_6
{
    background-color: green;
    height: 200px;
    width: 200px;
}